@import url("../../styles/variables.css"); 

#checkboxs-content {
    margin: 2rem 1rem;
    max-width: 35rem;
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.checkbox-content{
    margin-top: 1rem;
}

#posts-content{
    width: 100%;
    height: auto;
    min-height: 10rem;

    display: grid;
    grid-template-columns: auto auto auto;
}
@media (max-width:1300px) {
    #posts-content {
        grid-template-columns: auto auto;
    }
}
@media (max-width:950px) {
    #posts-content {
        grid-template-columns: auto;
    }
}
@media (max-width:770px) {
    #checkboxs-content {
        grid-template-columns: auto auto auto;
    }
}

@media (max-width:670px) {
    #checkboxs-content {
        grid-template-columns: auto auto;
    }
}
