#drawer {
    width: 17rem;
    height: 5rem;
    background-color: var(--secondary);
    transition: height 0.3s ease;
    position: absolute;
}

.user-image {
    height: 3rem;
    border-radius: 1rem;
    margin-right: 1rem;
}

.user-content {
    align-items: center;
    display: flex;
    padding: 0.2rem;
    margin: 0.2rem;
    color: var(--white);
    margin: 1rem;
}

.links-content {
    display: none;

    margin: 2rem;
    color: white;
}

.link-text {
    font-size: 1.2rem;
    transition: font-size 0.5s;
}

.link-text:hover {
    font-size: 1.5rem;
}

li {
    margin-top: 0.5rem;
    list-style-type: none;
}

#drawer:hover {
    height: 100vh;

    .links-content {
        display: block;
    }
}

@media(max-width:768px) {
    #drawer {
        width: 100%;
        height: 5rem;
    }
}
